<nav class="menu__container">
  <a routerLink="/" mat-icon-button color="primary" aria-label="home-icon">
    <mat-icon>home</mat-icon>
  </a>
  <button class="m-font-size" mat-button [matMenuTriggerFor]="aboveMenu">Components</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <a routerLink="/counter" mat-menu-item>Counter</a>
    <a routerLink="/timer" mat-menu-item>Timer</a>
    <a routerLink="/dynamic-form" mat-menu-item>Dynamic form</a>
    <a routerLink="/interaction-parent-child" mat-menu-item>Interaction parent-child</a>
    <a routerLink="/local-var-interaction" mat-menu-item>Local var Interaction</a>
    <a routerLink="/interaction-via-service" mat-menu-item>Interaction via service</a>
    <a routerLink="/interaction-via-template" mat-menu-item>Interaction via template</a>
  </mat-menu>
</nav>
<mat-divider></mat-divider>
