<div appearance="fill">
  <ng-contaner [ngSwitch]="formField">
    <ng-container
      *ngSwitchCase="['text','number','date','checkbox'].indexOf(formField.type) !== -1 ? formField : !formField">
      <mat-form-field class="dynamic-form__field" appearance="fill">
        <mat-label>{{formField.type !== "date" ? (formField.label || "Unknown field") : ""}}</mat-label>
        <input
          matInput
          [attr.type]="formField.type || 'text'"
          [attr.id]="id"
          [attr.name]="formField.name"
          [formControl]="control"
        />
        <mat-hint *ngIf="!control.valid && control.touched">
          <app-field-error [errors]="control.errors" [field]="formField"></app-field-error>
        </mat-hint>
        <mat-hint *ngIf="formField.type === 'date'">{{formField.label}}</mat-hint>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchCase="formField.type === 'select' ? formField : !formField">
      <mat-form-field class="dynamic-form__field" appearance="fill">
        <mat-label>{{formField.label}}</mat-label>
        <mat-select  [id]="id" [formControl]="control" [name]="formField.name">
          <mat-option [value]="'NONE'">NONE</mat-option>
          <mat-option *ngFor="let option of formField.dict" [value]="option.value">{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchDefault>Code Default</ng-container>
  </ng-contaner>
</div>
