/* You can add global styles to this file, and also import other style files */
:root {
  --header-height: 5%;
  --footer-height: 5%;
  --m-font-size: 1rem;
  --bg-font-size: 2rem;
}

html, body { height: 100vh; width: 100vw; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.m-font-size {
  font-size: var(--m-font-size, 1rem);
}

.page {
  height: calc(100% - var(--header-height) - var(--footer-height));
}
